.is-frontpage{
  .dialog-off-canvas-main-canvas{

    header{
      height: 892px;

      .page_wrapper{
        .block--locationtittle{
          position: absolute;
          bottom: 80px;
          width: 50%;
          left: 75px;
          color: white;
          font-size: 24px;
        }

        .block--titlephoto{

          position: absolute;
          width: 99%;
          top: 0;
          right: 0;
          .title_photo{

            height: 900px;
            background-image: url("../../../kvinta_radix/images/tittle/title.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 50px;
            margin-top: 79px;
          }
        }

      }
    }
  }
  #markup1,#markup2,#markup3{
    display: block;
    opacity: 1;
    text-align: center;
    background: rgba(1,1,1,0.5);
  }

  #markup1{
    position: absolute;
    top: 23%;
    right: 66%;
    width: 115px;
    height: 35px;
    color: white;
    font-size: 20px;
    border: 2px solid purple;
    border-radius: 10px;
    z-index: 15;
    text-align: center;
    background: purple;
    &:before{
      content: "";
      position: absolute;
      bottom: -29px;
      right: 42px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27px 17px 0px 17px;
      border-color: purple transparent transparent transparent;

    }
  }
  #markup2{
    position: absolute;
    top: 60%;
    right: 15%;
    width: 115px;
    height: 35px;
    color: white;
    font-size: 20px;
    border: 2px solid purple;
    border-radius: 10px;
    z-index: 15;
    text-align: center;
    background: purple;
    &:before{
      content: "";
      position: absolute;
      bottom: -29px;
      right: 42px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27px 17px 0px 17px;
      border-color: purple transparent transparent transparent;

    }
  }
  #markup3{
    position: absolute;
    top: 80%;
    right: 50%;
    width: 115px;
    height: 35px;
    color: white;
    font-size: 20px;
    border: 2px solid purple;
    border-radius: 10px;
    z-index: 15;
    text-align: center;
    background: purple;

    z-index: 15;
    &:before{
      content: "";
      position: absolute;
      bottom: -29px;
      right: 42px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27px 17px 0px 17px;
      border-color: purple transparent transparent transparent;

    }
  }

}
#markup1,#markup2,#markup3{
  display: none;
}







